Capa GUI/Connected Services/ServicePaciente/WebServicePaciente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarPacienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paciente" type="tns:Paciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Paciente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Antecedentes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Stock_productos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Disponibilidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Epicrisis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tutor_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tutor_nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ubicacion_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarPacienteServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="actualizarPacienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paciente" type="tns:Paciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarPacienteServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarPacienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarPacienteServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="consultarPacienteService">
        <s:complexType />
      </s:element>
      <s:element name="consultarPacienteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarPacienteServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPacienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPacienteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPacienteServiceResult" type="tns:Paciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionPacienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fila" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionPacienteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="posicionPacienteServiceResult" type="tns:Paciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarPacienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:insertarPacienteService" />
  </wsdl:message>
  <wsdl:message name="insertarPacienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:insertarPacienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarPacienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarPacienteService" />
  </wsdl:message>
  <wsdl:message name="actualizarPacienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarPacienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarPacienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarPacienteService" />
  </wsdl:message>
  <wsdl:message name="eliminarPacienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarPacienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="consultarPacienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:consultarPacienteService" />
  </wsdl:message>
  <wsdl:message name="consultarPacienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:consultarPacienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPacienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:buscarPacienteService" />
  </wsdl:message>
  <wsdl:message name="buscarPacienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:buscarPacienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="posicionPacienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:posicionPacienteService" />
  </wsdl:message>
  <wsdl:message name="posicionPacienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:posicionPacienteServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePacienteSoap">
    <wsdl:operation name="insertarPacienteService">
      <wsdl:input message="tns:insertarPacienteServiceSoapIn" />
      <wsdl:output message="tns:insertarPacienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarPacienteService">
      <wsdl:input message="tns:actualizarPacienteServiceSoapIn" />
      <wsdl:output message="tns:actualizarPacienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarPacienteService">
      <wsdl:input message="tns:eliminarPacienteServiceSoapIn" />
      <wsdl:output message="tns:eliminarPacienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarPacienteService">
      <wsdl:input message="tns:consultarPacienteServiceSoapIn" />
      <wsdl:output message="tns:consultarPacienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPacienteService">
      <wsdl:input message="tns:buscarPacienteServiceSoapIn" />
      <wsdl:output message="tns:buscarPacienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="posicionPacienteService">
      <wsdl:input message="tns:posicionPacienteServiceSoapIn" />
      <wsdl:output message="tns:posicionPacienteServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePacienteSoap" type="tns:WebServicePacienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarPacienteService">
      <soap:operation soapAction="http://tempuri.org/insertarPacienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarPacienteService">
      <soap:operation soapAction="http://tempuri.org/actualizarPacienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPacienteService">
      <soap:operation soapAction="http://tempuri.org/eliminarPacienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPacienteService">
      <soap:operation soapAction="http://tempuri.org/consultarPacienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPacienteService">
      <soap:operation soapAction="http://tempuri.org/buscarPacienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionPacienteService">
      <soap:operation soapAction="http://tempuri.org/posicionPacienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePacienteSoap12" type="tns:WebServicePacienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarPacienteService">
      <soap12:operation soapAction="http://tempuri.org/insertarPacienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarPacienteService">
      <soap12:operation soapAction="http://tempuri.org/actualizarPacienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPacienteService">
      <soap12:operation soapAction="http://tempuri.org/eliminarPacienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPacienteService">
      <soap12:operation soapAction="http://tempuri.org/consultarPacienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPacienteService">
      <soap12:operation soapAction="http://tempuri.org/buscarPacienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionPacienteService">
      <soap12:operation soapAction="http://tempuri.org/posicionPacienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePaciente">
    <wsdl:port name="WebServicePacienteSoap" binding="tns:WebServicePacienteSoap">
      <soap:address location="https://localhost:44300/WebServicePaciente.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePacienteSoap12" binding="tns:WebServicePacienteSoap12">
      <soap12:address location="https://localhost:44300/WebServicePaciente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>