Capa GUI/Connected Services/ServiceTutor/WebServiceTutor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarTutorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tutor" type="tns:Tutor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Tutor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarTutorServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="actualizarTutorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tutor" type="tns:Tutor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarTutorServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarTutorServce">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tutor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarTutorServceResponse">
        <s:complexType />
      </s:element>
      <s:element name="consultarTutorService">
        <s:complexType />
      </s:element>
      <s:element name="consultarTutorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarTutorServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaTutorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaTutorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscaTutorServiceResult" type="tns:Tutor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionTutorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fila" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionTutorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="posicionTutorServiceResult" type="tns:Tutor" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarTutorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:insertarTutorService" />
  </wsdl:message>
  <wsdl:message name="insertarTutorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:insertarTutorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarTutorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarTutorService" />
  </wsdl:message>
  <wsdl:message name="actualizarTutorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarTutorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarTutorServceSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarTutorServce" />
  </wsdl:message>
  <wsdl:message name="eliminarTutorServceSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarTutorServceResponse" />
  </wsdl:message>
  <wsdl:message name="consultarTutorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:consultarTutorService" />
  </wsdl:message>
  <wsdl:message name="consultarTutorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:consultarTutorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscaTutorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:buscaTutorService" />
  </wsdl:message>
  <wsdl:message name="buscaTutorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:buscaTutorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="posicionTutorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:posicionTutorService" />
  </wsdl:message>
  <wsdl:message name="posicionTutorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:posicionTutorServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTutorSoap">
    <wsdl:operation name="insertarTutorService">
      <wsdl:input message="tns:insertarTutorServiceSoapIn" />
      <wsdl:output message="tns:insertarTutorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarTutorService">
      <wsdl:input message="tns:actualizarTutorServiceSoapIn" />
      <wsdl:output message="tns:actualizarTutorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTutorServce">
      <wsdl:input message="tns:eliminarTutorServceSoapIn" />
      <wsdl:output message="tns:eliminarTutorServceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarTutorService">
      <wsdl:input message="tns:consultarTutorServiceSoapIn" />
      <wsdl:output message="tns:consultarTutorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscaTutorService">
      <wsdl:input message="tns:buscaTutorServiceSoapIn" />
      <wsdl:output message="tns:buscaTutorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="posicionTutorService">
      <wsdl:input message="tns:posicionTutorServiceSoapIn" />
      <wsdl:output message="tns:posicionTutorServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTutorSoap" type="tns:WebServiceTutorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarTutorService">
      <soap:operation soapAction="http://tempuri.org/insertarTutorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTutorService">
      <soap:operation soapAction="http://tempuri.org/actualizarTutorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTutorServce">
      <soap:operation soapAction="http://tempuri.org/eliminarTutorServce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarTutorService">
      <soap:operation soapAction="http://tempuri.org/consultarTutorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaTutorService">
      <soap:operation soapAction="http://tempuri.org/buscaTutorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionTutorService">
      <soap:operation soapAction="http://tempuri.org/posicionTutorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTutorSoap12" type="tns:WebServiceTutorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarTutorService">
      <soap12:operation soapAction="http://tempuri.org/insertarTutorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTutorService">
      <soap12:operation soapAction="http://tempuri.org/actualizarTutorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTutorServce">
      <soap12:operation soapAction="http://tempuri.org/eliminarTutorServce" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarTutorService">
      <soap12:operation soapAction="http://tempuri.org/consultarTutorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaTutorService">
      <soap12:operation soapAction="http://tempuri.org/buscaTutorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionTutorService">
      <soap12:operation soapAction="http://tempuri.org/posicionTutorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTutor">
    <wsdl:port name="WebServiceTutorSoap" binding="tns:WebServiceTutorSoap">
      <soap:address location="https://localhost:44300/WebServiceTutor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTutorSoap12" binding="tns:WebServiceTutorSoap12">
      <soap12:address location="https://localhost:44300/WebServiceTutor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>