Capa GUI/Connected Services/ServiceTutor/WebServiceTutor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarTutorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tutor" type="tns:Tutor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Tutor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarTutorServiceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarTutorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:insertarTutorService" />
  </wsdl:message>
  <wsdl:message name="insertarTutorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:insertarTutorServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTutorSoap">
    <wsdl:operation name="insertarTutorService">
      <wsdl:input message="tns:insertarTutorServiceSoapIn" />
      <wsdl:output message="tns:insertarTutorServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTutorSoap" type="tns:WebServiceTutorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarTutorService">
      <soap:operation soapAction="http://tempuri.org/insertarTutorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTutorSoap12" type="tns:WebServiceTutorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarTutorService">
      <soap12:operation soapAction="http://tempuri.org/insertarTutorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTutor">
    <wsdl:port name="WebServiceTutorSoap" binding="tns:WebServiceTutorSoap">
      <soap:address location="https://localhost:44300/WebServiceTutor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTutorSoap12" binding="tns:WebServiceTutorSoap12">
      <soap12:address location="https://localhost:44300/WebServiceTutor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>