Capa GUI/Connected Services/ServiceUbicacion/WebServiceUbicacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarUbicacionService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="tns:Ubicacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Ubicacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Camas" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarUbicacionServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="actualizarUbicacionService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="tns:Ubicacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarUbicacionServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarUbicacionService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="area" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarUbicacionServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarUbicacionService">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarUbicacionServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarUbicacionServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaUbicacionService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="area" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaUbicacionServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscaUbicacionServiceResult" type="tns:Ubicacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionUbicacionService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fila" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionUbicacionServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="posicionUbicacionServiceResult" type="tns:Ubicacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarUbicacionServiceSoapIn">
    <wsdl:part name="parameters" element="tns:insertarUbicacionService" />
  </wsdl:message>
  <wsdl:message name="insertarUbicacionServiceSoapOut">
    <wsdl:part name="parameters" element="tns:insertarUbicacionServiceResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarUbicacionServiceSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarUbicacionService" />
  </wsdl:message>
  <wsdl:message name="actualizarUbicacionServiceSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarUbicacionServiceResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarUbicacionServiceSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarUbicacionService" />
  </wsdl:message>
  <wsdl:message name="eliminarUbicacionServiceSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarUbicacionServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarUbicacionServiceSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarUbicacionService" />
  </wsdl:message>
  <wsdl:message name="ConsultarUbicacionServiceSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarUbicacionServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscaUbicacionServiceSoapIn">
    <wsdl:part name="parameters" element="tns:buscaUbicacionService" />
  </wsdl:message>
  <wsdl:message name="buscaUbicacionServiceSoapOut">
    <wsdl:part name="parameters" element="tns:buscaUbicacionServiceResponse" />
  </wsdl:message>
  <wsdl:message name="posicionUbicacionServiceSoapIn">
    <wsdl:part name="parameters" element="tns:posicionUbicacionService" />
  </wsdl:message>
  <wsdl:message name="posicionUbicacionServiceSoapOut">
    <wsdl:part name="parameters" element="tns:posicionUbicacionServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUbicacionSoap">
    <wsdl:operation name="insertarUbicacionService">
      <wsdl:input message="tns:insertarUbicacionServiceSoapIn" />
      <wsdl:output message="tns:insertarUbicacionServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarUbicacionService">
      <wsdl:input message="tns:actualizarUbicacionServiceSoapIn" />
      <wsdl:output message="tns:actualizarUbicacionServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarUbicacionService">
      <wsdl:input message="tns:eliminarUbicacionServiceSoapIn" />
      <wsdl:output message="tns:eliminarUbicacionServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUbicacionService">
      <wsdl:input message="tns:ConsultarUbicacionServiceSoapIn" />
      <wsdl:output message="tns:ConsultarUbicacionServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscaUbicacionService">
      <wsdl:input message="tns:buscaUbicacionServiceSoapIn" />
      <wsdl:output message="tns:buscaUbicacionServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="posicionUbicacionService">
      <wsdl:input message="tns:posicionUbicacionServiceSoapIn" />
      <wsdl:output message="tns:posicionUbicacionServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUbicacionSoap" type="tns:WebServiceUbicacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarUbicacionService">
      <soap:operation soapAction="http://tempuri.org/insertarUbicacionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarUbicacionService">
      <soap:operation soapAction="http://tempuri.org/actualizarUbicacionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUbicacionService">
      <soap:operation soapAction="http://tempuri.org/eliminarUbicacionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUbicacionService">
      <soap:operation soapAction="http://tempuri.org/ConsultarUbicacionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaUbicacionService">
      <soap:operation soapAction="http://tempuri.org/buscaUbicacionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionUbicacionService">
      <soap:operation soapAction="http://tempuri.org/posicionUbicacionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUbicacionSoap12" type="tns:WebServiceUbicacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarUbicacionService">
      <soap12:operation soapAction="http://tempuri.org/insertarUbicacionService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarUbicacionService">
      <soap12:operation soapAction="http://tempuri.org/actualizarUbicacionService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUbicacionService">
      <soap12:operation soapAction="http://tempuri.org/eliminarUbicacionService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUbicacionService">
      <soap12:operation soapAction="http://tempuri.org/ConsultarUbicacionService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaUbicacionService">
      <soap12:operation soapAction="http://tempuri.org/buscaUbicacionService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionUbicacionService">
      <soap12:operation soapAction="http://tempuri.org/posicionUbicacionService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUbicacion">
    <wsdl:port name="WebServiceUbicacionSoap" binding="tns:WebServiceUbicacionSoap">
      <soap:address location="https://localhost:44300/WebServiceUbicacion.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUbicacionSoap12" binding="tns:WebServiceUbicacionSoap12">
      <soap12:address location="https://localhost:44300/WebServiceUbicacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>